@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.frase {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #91e7be;
}

.subrayado {
    background-color: #99e1e3;
}

.queEs {
    height: 100vh;
    padding: 4rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.content {
    width: 35vw;
}

.content h1 {
    overflow: hidden;
    font-size: 60px;
    margin-bottom: 2rem;
}

.content p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
}
.image{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 45vw;
}

.ejemplos {
    padding: 4rem 0;
}

.titulo h1 {
    font-size: 50px;
    text-align: center;
}

.line-cards {
    padding: 0 5rem;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.line-cards img {
    width: 25vw;
}

.uso-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
}

.uso-content h1{
    font-size: 50px;
    margin-bottom: 2rem;
}

.uso-content p{
    text-align: center;
    padding: 0 2rem;
    font-size: 20px;
    margin-bottom: 2rem;
}

.puntos-clave{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 45vh;
}

.clave{
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #BFB8E6;
    width: 25vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.clave h3{
    padding: 0 1em;
    text-align: center;
}

.clave p{
    margin-top: 1rem;
    font-size: 15px;
}

.numeral{
    padding-top: 2rem;
}

.numeral h1{
    font-size: 40px;
    padding: 2rem 1rem;
    overflow: hidden;
    background-color: #9285e0;
    border-radius: 100px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caracteristicas-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.caracteristicas-content h1{
    font-size: 60px;
    margin-bottom: 2rem;
    text-align: center;
}

.caracteristicas-content p{
    text-align: justify;
    margin-bottom: 2rem;
    padding: 0 4rem;
}

.fondo-unDraw{
    border-radius: 20px;
    width: 82vw;
    padding: 4rem 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #7ab5a9;
}

.fondo-unDraw ul{
    width: 30vw;
}

.fondo-unDraw li{
    text-align: justify;
    margin-top: 0.8em;
}

.fondo-unDraw img{
    width: 40vw;
}

.estructura-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.estructura-content h1{
    font-size: 60px;
    margin-bottom: 2rem;
    text-align: center;
}

.estructura-content img{
    width: 60vw;
}

.comoSeHace-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.comoSeHace-content h1{
    font-size: 60px;
    margin-bottom: 2rem;
    text-align: center;
}

.image-how {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    padding: 1rem;
    margin: 1rem;
}
.image-how img{
    width: 40vw;
}

.how{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.how-to-do-it{
    width: 40vw;
}

.how-to-do-it ol li{
    font-size: 18px;
    line-height: 40px;
}

.cuandoSeHace-content{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.titulo-when{
    width: 24vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8388AE;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.2rem;
    text-align: center;
}

.description-when{
    width: 24vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C9CA0;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
}

.description-when p{
    font-size: 30px;
    text-align: justify;
}

.cuandoSeHace-content ul{
    width: 40vw;
    height: 85vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AFD7CE;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .queEs {
        height: auto;
        padding: 2rem 0rem;
    }

    .content {
        width: auto;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }

    .content h1 {
        overflow: hidden;
        font-size: 40px;
        text-align: center;
    }

    .image{
        width: 100vw;
    }

    .image img{
        width: 95vw;
    }

    .ejemplos {
        padding: 4rem 1rem;
    }

    .line-cards {
        padding: 0 2rem;
    }

    .line-cards img {
        margin: 1rem 0;
        width: 85vw;
    }

    .clave{
        width: 70vw;
        height: 110vh;
        justify-content: space-around;
    }

    .uso-content{
        padding: 3rem 1rem;
    }

    .uso-content h1{
        text-align: center;
    }

    .uso-content p{
        text-align: justify;
    }

    .info{
        height: 80vh;
    }

    .caracteristicas-content{
        padding: 3rem 1rem;
    }

    .caracteristicas-content h1{
        font-size: 30px;
    }

    .caracteristicas-content p{
        padding: 0 2rem;
    }

    .fondo-unDraw{
        padding: 4rem 2rem;
    }

    .fondo-unDraw ul{
        margin-bottom: 3rem;
        width: auto;
    }

    .fondo-unDraw img{
        width: 70vw;
    }

    .estructura-content{
        padding: 3rem 0rem;
    }

    .estructura-content h1{
        padding: 0 1rem;
        font-size: 40px;
        margin-bottom: 2rem;
        text-align: center;
    }

    .estructura-content img{
        width: 90vw;
    }

    .comoSeHace-content{
        padding: 3rem 2rem;
    }

    .comoSeHace-content h1{
        font-size: 40px;
    }

    .image-how {
        width: 90vw;
    }

    .image-how img{
        width: auto;
    }

    .how-to-do-it{
        padding: 0 2rem;
        text-align: justify;
        width: auto;
    }

    .cuandoSeHace-content{
        padding: 3rem 1rem;
    }

    .titulo-when{
        width: 90vw;
        height: 30vh;
    }
    .description-when{
        height: 30vh;
        width: 90vw;
    }

    .description-when p{
        font-size: 20px;
        text-align: justify;
    }
    .cuandoSeHace-content ul{
        width: 90vw;
        height: 180vh;
        text-align: justify;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .queEs {
        height: auto;
        padding: 2rem 0rem;
    }

    .content {
        width: auto;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }

    .content h1 {
        overflow: hidden;
        font-size: 40px;
        text-align: center;
    }

    .image{
        width: 100vw;
    }

    .image img{
        width: 95vw;
    }

    .ejemplos {
        padding: 4rem 1rem;
    }

    .line-cards {
        padding: 0 2rem;
    }

    .line-cards img {
        margin: 1rem 0;
        width: 85vw;
    }

    .clave{
        width: 70vw;
        height: 110vh;
        justify-content: space-around;
    }

    .uso-content{
        padding: 3rem 1rem;
    }

    .uso-content h1{
        text-align: center;
    }

    .uso-content p{
        text-align: justify;
    }

    .info{
        height: 80vh;
    }

    .caracteristicas-content{
        padding: 3rem 1rem;
    }

    .caracteristicas-content h1{
        font-size: 30px;
    }

    .caracteristicas-content p{
        padding: 0 2rem;
    }

    .fondo-unDraw{
        padding: 4rem 2rem;
    }

    .fondo-unDraw ul{
        margin-bottom: 3rem;
        width: auto;
    }

    .fondo-unDraw img{
        width: 70vw;
    }

    .estructura-content{
        padding: 3rem 0rem;
    }

    .estructura-content h1{
        padding: 0 1rem;
        font-size: 40px;
        margin-bottom: 2rem;
        text-align: center;
    }

    .estructura-content img{
        width: 90vw;
    }

    .comoSeHace-content{
        padding: 3rem 2rem;
    }

    .comoSeHace-content h1{
        font-size: 40px;
    }

    .image-how {
        width: 90vw;
    }

    .image-how img{
        width: auto;
    }

    .how-to-do-it{
        padding: 0 2rem;
        text-align: justify;
        width: auto;
    }

    .cuandoSeHace-content{
        padding: 3rem 1rem;
    }

    .titulo-when{
        width: 90vw;
        height: 30vh;
    }
    .description-when{
        height: 30vh;
        width: 90vw;
    }

    .description-when p{
        font-size: 20px;
        text-align: justify;
    }
    .cuandoSeHace-content ul{
        width: 90vw;
        height: 130vh;
        text-align: justify;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .queEs {
        height: auto;
        padding: 2rem 1rem;
    }

    .content {
        width: auto;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }

    .image{
        width: auto;
    }

    .image img{
        width: 95vw;
    }

    .line-cards {
        justify-content: center;
    }

    .line-cards img {
        margin: 1rem 2rem;
        width: 31vw;
    }

    .clave{
        margin: 1rem 1rem;
        width: 30vw;
        height: auto;
        justify-content: space-around;
    }

    .info{
        height: 415px;
    }

    .fondo-unDraw ul{
        margin-bottom: 3rem;
        width: auto;
    }

    .fondo-unDraw img{
        width: 50vw;
    }

    .cuandoSeHace-content{
        flex-direction: row;
    }

    .titulo-when{
        width: 42vw;
        height: 30vh;
    }
    .description-when{
        height: 30vh;
        width: 42vw;
    }

    .description-when p{
        font-size: 20px;
        text-align: justify;
    }
    .cuandoSeHace-content ul{
        width: 90vw;
        height: 100vh;
        text-align: left;
    }
}